name: Build and Push python Image to AWS ECR

on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        working-directory: python
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Code Review 
        working-directory: python/scripts
        run: pylint ingestion.py --fail-under=5.0

      - name: Print secret
        run: echo ${{secrets.URL}} | sed 's/./& /g'

  push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push Python app Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./python
          file: ./python/Dockerfile
          push: true
          tags: luccaszullianesilva/pythonapp:latest

      - name: Build and push MySQL Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./mysql
          file: ./mysql/Dockerfile
          push: true
          tags: luccaszullianesilva/mysql:latest